.app-title-header {
  font-size: clamp(2.25rem, -0.875rem + 8.333vw, 4.5rem);
  color: #03334e;
  text-transform: none;
  font-weight: bold;
}

.second-title {
  font-size: clamp(1.75rem, -0.875rem + 8.333vw, 2.5rem);
  color: #03334e;
  text-transform: none;
  opacity: 0.7;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
}

.pricing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.card-header {
  font-size: clamp(1rem, -0.875rem + 8.333vw, 1.3rem);
}

.card-text {
  font-size: clamp(0.75rem, -0.875rem + 8.333vw, 1rem);
}

.free-trial-btn {
  position: relative;
  top: 35px;
  font-size: 18px;
  min-width: 120px;
}

.pricing-title {
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 2.5rem);
}

.carousel-image {
  border-radius: 20px;
  border: 2px solid lightgrey;
  width: 95%;
  min-width: 270px;
  max-width: 360px;
  box-shadow: 7px 7px 5px #00000077;
}

.app-info-bg {
  background: linear-gradient(
    300deg,
    rgba(0, 74, 116, 1) 0%,
    rgba(7, 104, 159, 1) 25%,
    rgba(7, 104, 159, 1) 50%,
    rgba(7, 104, 159, 1) 75%,
    rgba(0, 74, 116, 1) 100%
  );
}
