.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title-header {
  font-size: clamp(1.75rem, -0.875rem + 8.333vw, 3.5rem);
  text-transform: uppercase;
}

.h-container:h1 {
  display: inline;
}

.app-info-title {
  font-size: clamp(2rem, -0.875rem + 8.333vw, 2.25rem);
}

.app-info-bg {
  background: linear-gradient(
    300deg,
    rgba(0, 74, 116, 1) 0%,
    rgba(7, 104, 159, 1) 25%,
    rgba(7, 104, 159, 1) 50%,
    rgba(7, 104, 159, 1) 75%,
    rgba(0, 74, 116, 1) 100%
  );
}

.carousel-image {
  border-radius: 20px;
  border: 2px solid lightgrey;
  width: 95%;
  min-width: 270px;
  max-width: 360px;
  box-shadow: 7px 7px 5px #00000077;
}

.pricing-header {
  font-size: clamp(1rem, -0.875rem + 8.333vw, 1.5rem);
}

.pricing-body {
  font-size: clamp(1rem, -0.875rem + 8.333vw, 1.25rem);
}

.cookie-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  border: 2px solid;
}

.accept-cookies-btn {
  font-weight: bold;
  text-transform: uppercase;
}

.price-tag {
  font-size: clamp(1rem, -0.875rem + 8.333vw, 1.5rem);
}

.sign-up-card {
  width: clamp(280px, 95%, 500px);
  height: clamp(300px, 50%, 400px);
}
