.carousel-image {
  border-radius: 20px;
  border: 2px solid lightgrey;
  width: 95%;
  min-width: 270px;
  max-width: 360px;
  box-shadow: 7px 7px 5px #00000077;
}

.pricing-header {
  font-size: 18px;
  font-weight: bold;
}

.app-info-bg {
  background: linear-gradient(
    300deg,
    rgba(0, 74, 116, 1) 0%,
    rgba(7, 104, 159, 1) 25%,
    rgba(7, 104, 159, 1) 50%,
    rgba(7, 104, 159, 1) 75%,
    rgba(0, 74, 116, 1) 100%
  );
}
