.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  width: 90%;
  height: 125px;
  max-width: 400px;
  z-index: 100;
}

.quick-select-btn {
  width: 31%;
  margin-left: 5px;
  margin-bottom: 5px;
}
