a:link {
  color: #ffffffcc;
}

a:active {
  color: #ffffffcc;
}

link-p:hover {
  color: white;
}

.btn-pill {
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
}
