.offering-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.purchases-info-p {
  font-size: 15px;
  color: #000000bb;
}

.offering-title {
  color: white;
  font-size: 17;
  font-weight: bold;
}
